
[Desktop Entry]
Type=Application
Name=UrbanTerror
Exec=/media/utilitaire/Install/Jeux/UrbanTerror/ioUrbanTerror.i386
Icon=/media/multimedia/Images/Jeu_video/urt.png
