
[Desktop Entry]
Type=Application
Name=Dead Space 2
Exec=sh /media/utilitaire/Install/ScripLancement/deadspace2.sh
Icon=/media/multimedia/Images/Jeu_video/Dead Space 2 by Zakafein.png
