[Desktop Entry]
Type=Application
Name=SpoutCraft
Icon=/media/multimedia/Images/Jeu_video/spouticon.png
Exec=java -jar /media/utilitaire/Install/Jeux/Minecraft/Spoutcraft.jar
