[Desktop Entry]
Type=Application
Icon=/media/multimedia/Images/Jeu_video/Burnout-Paradise-The-Ultimate-Box-1-icon.png
Name=Burnout Paradise
Exec=sh /media/utilitaire/Install/ScripLancement/Burnout.sh
