[Desktop Entry]
Type=Application
Name=Dead Space 3
Exec=sh /media/utilitaire/Install/ScripLancement/deadspace3.sh
Icon=/media/multimedia/Images/Jeu_video/dead_space_3_icon_by_markotodic-d5twzpv.png
