
[Desktop Entry]
Type=Application
Name=OpenArena
Exec=/usr/games/bin/openarena
Icon=/media/multimedia/Images/Jeu_video/39af42a5cb5cf523d5d2139627aa3675.wix_mp_128.png
