
[Desktop Entry]
Type=Application
Name=Starcraft2
Exec=sh /media/utilitaire/Install/ScripLancement/SC2_launcher.sh
Icon=/media/multimedia/Images/Jeu_video/iconSC2.png
