[Desktop Entry]
Type=Application
Name=Minecraft
Exec=java -jar /media/utilitaire/Install/Jeux/Minecraft/MagicLauncher_1.1.4.jar
Icon=/media/multimedia/Images/Jeu_video/minecraft_icon_by_gimilkhor-d36xhh8.png
Terminal=false
