
[Desktop Entry]
Type=Application
Name=World Of Goo
Exec=/media/utilitaire/Install/Jeux/WorldOfGoo/WorldOfGoo
Icon=/media/utilitaire/Install/Jeux/WorldOfGoo/icons/scalable.svg
