[Desktop Entry]
Type=Application
Name=Fallout New Vegas
Exec=sh /media/utilitaire/Install/ScripLancement/Fallout_New_Vegas.sh
Icon=/media/multimedia/Images/Jeu_video/Fallout-New-Vegas-2-icon.png
