[Desktop Entry]
Name=Pidgin Internet Messenger
Name[fr]=Messagerie internet Pidgin
GenericName=Internet Messenger
GenericName[fr]=Messagerie internet
Comment=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, MSN, Yahoo and more
Comment[fr]=Conversation par messages instantanés. Supporte AIM, Google Talk, Jabber/XMPP, MSN, Yahoo et d'autres
Exec=pidgin
Icon=pidgin
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
